# **Lab: ML Lifecycle**
---
## Exercise 1: Tensorflow Recommender

We will be usinge the dataset:
- https://raw.githubusercontent.com/aso-uts/labs_datasets/main/36120-adv_mla/lab08/movies.csv
- https://raw.githubusercontent.com/aso-uts/labs_datasets/main/36120-adv_mla/lab08/ratings.csv

The steps are:
1.   Setup Environment
2.   Load and explore dataset
3.   Prepare Data
4.   Split Dataset
5.   Define Architecture
6.   Train Tensorflow model
7.   Push Changes

### 1. Setup Repository

**[1.1]** Go to a folder of your choice on your computer (where you store projects)

In [1]:
# Placeholder for student's code (command line)

In [2]:
# Solution:
cd /Users/anthonyso/Projects/adv_mla_2024

NameError: name 'cd' is not defined

**[1.2]** Run the built Docker image

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
docker run  -dit --rm --name adv_mla_lab_7 -p 8888:8888 -v ~/Projects/adv_mla_2024/adv_mla_lab_7:/home/jovyan/work/ tensorflow-jupyter:latest

**[1.3]** Display last 50 lines of logs

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
docker logs --tail 50 adv_mla_lab_7

**[1.4]** Copy the url displayed and paste it to a browser in order to launch Jupyter Lab

**[1.5]** Navigate the folder `notebooks` and create a new jupyter notebook called `2_reco.ipynb`

### 2.   Load and Explore Dataset

**[2.1]** Launch magic commands to automatically reload modules

In [ ]:
# Placeholder for student's code (Python code)

In [1]:
# Solution
%load_ext autoreload
%autoreload 2
import os
os.environ["KMP_DUPLICATE_LIB_OK"]="TRUE"
os.environ["CUDA_VISIBLE_DEVICES"] = "-1"

In [ ]:
import tensorflow as tf

In [2]:
! pip show tensorflow

Name: tensorflow
Version: 2.17.0
Summary: TensorFlow is an open source machine learning framework for everyone.
Home-page: https://www.tensorflow.org/
Author: Google Inc.
Author-email: packages@tensorflow.org
License: Apache 2.0
Location: /usr/local/lib/python3.11/dist-packages
Requires: absl-py, astunparse, flatbuffers, gast, google-pasta, grpcio, h5py, keras, libclang, ml-dtypes, numpy, opt-einsum, packaging, protobuf, requests, setuptools, six, tensorboard, tensorflow-io-gcs-filesystem, termcolor, typing-extensions, wrapt
Required-by: tensorflow-recommenders

**[2.2]** Install your custom package with pip

In [3]:
# Placeholder for student's code (Python code)

In [4]:
# Solution
! pip install -i https://test.pypi.org/simple/ my-krml-studentid

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: my-krml-studentid in /usr/local/lib/python3.11/dist-packages (0.1.8)
Requirement already satisfied: pandas==2.2.2 in /usr/local/lib/python3.11/dist-packages (from my-krml-studentid) (2.2.2)
Requirement already satisfied: scikit-learn==1.5.1 in /usr/local/lib/python3.11/dist-packages (from my-krml-studentid) (1.5.1)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas==2.2.2->my-krml-studentid) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas==2.2.2->my-krml-studentid) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas==2.2.2->my-krml-studentid) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas==2.2.2->my-krml-studentid) (2024.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn==1.5.1->my-krml-studentid) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn==1.5.1->my-krml-studentid) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn==1.5.1->my-krml-studentid) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas==2.2.2->my-krml-studentid) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable.It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python3 -m pip install --upgrade pip

**[2.3]** Import the pandas and numpy packages

In [5]:
# Placeholder for student's code (Python code)

In [6]:
# Solution
import pandas as pd
import numpy as np

**[2.4]** Load the ratings and movies CSV files into 2 dataframes called `ratings_df` and `movies_df`

In [7]:
# Solution
ratings_df = pd.read_csv('https://raw.githubusercontent.com/aso-uts/labs_datasets/main/36120-adv_mla/lab08/ratings.csv')
movies_df = pd.read_csv('https://raw.githubusercontent.com/aso-uts/labs_datasets/main/36120-adv_mla/lab08/movies.csv')

**[2.5]** Display the first 5 rows of `ratings_df`

In [8]:
# Placeholder for student's code (Python code)

In [9]:
# Solution
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

**[2.6]** Display the first 5 rows of `movies_df`

In [10]:
# Placeholder for student's code (Python code)

In [11]:
# Solution
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

**[2.7]** Display the dimensions of both dataframes

In [12]:
# Placeholder for student's code (Python code)

In [13]:
# Solution
print(ratings_df.shape)
print(movies_df.shape)

(100836, 4)
(9742, 3)

**[2.8]** Display the descriptive statistics of `ratings_df`

In [14]:
# Placeholder for student's code (Python code)

In [15]:
# Solution
ratings_df.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

**[2.9]** Display the descriptive statistics of `movies_df`

In [16]:
# Placeholder for student's code (Python code)

In [17]:
# Solution
movies_df.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

### 3. Prepare Data

**[3.1]** Create a dataframe called `movies` that contains only the distinct values of the column `title`

In [18]:
# Placeholder for student's code (Python code)

In [19]:
# Solution
movies = pd.DataFrame(movies_df["title"].unique(), columns=["movie_title"])

**[3.2]** Join `movies_df` and `ratings_df` into a dtaframe called `ratings

In [20]:
# Placeholder for student's code (Python code)

In [21]:
# Solution
ratings = ratings_df.merge(movies_df, on="movieId", how="left")

**[3.3]** Take the first 100000 rows of `ratings` and save it back to `ratings`

In [22]:
# Placeholder for student's code (Python code)

In [23]:
# Solution
ratings = ratings[:100000]

**[3.4]** Rename the columns `title` to `movie_title` and `userId` to `user_id` and keep these columns only. Finally convert the column `user_id` to string

In [24]:
# Placeholder for student's code (Python code)

In [25]:
# Solution
ratings.rename(columns={"title":"movie_title", "userId":"user_id"}, inplace=True)
ratings = ratings[["movie_title", "user_id"]].astype('str')

**[3.5]** Import Tensorflow

In [26]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
#import tensorflow as tf

**[3.6]** Convert `movies` into a Tensorflow dataset called `movies_tf`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
movies_tf = tf.data.Dataset.from_tensor_slices(dict(movies))

**[3.7]** Convert `ratings` into a Tensorflow dataset called `ratings_tf`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
ratings_tf = tf.data.Dataset.from_tensor_slices(dict(ratings))

**[3.8]** Apply the `map` method on `ratings_tf`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
ratings_tf = ratings_tf.map(lambda x: {
    "movie_title": x["movie_title"],
    "user_id": x["user_id"],
})

**[3.9]** Apply the `map` method on `movies_tf`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
movies_tf = movies_tf.map(lambda x: x["movie_title"])

**[3.10]** Create 2 list called `unique_user_ids` and `unique_movies` that will respectively contained the list of unique user ids and movie titles

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
unique_user_ids = ratings["user_id"].unique()
unique_movies = ratings["movie_title"].unique()

# 4 Split the Dataset

**[4.1]** Set a seed for Tensorflow

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
tf.random.set_seed(42)

**[3.2]** Randomly shuffle 100000 rows of `ratings_tf` and save the results into `shuffled_tf`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
shuffled_tf = ratings_tf.shuffle(100000, seed=42, reshuffle_each_iteration=False)

**[4.3]** Create a training set called `train_tf` by taking the first 80000 rows of `shuffled_tf`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
train_tf = shuffled_tf.take(80000)

**[4.4]** Create a testing set called `test_tf` by taking the remaining 20000 rows of `shuffled_tf`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
test_tf = shuffled_tf.skip(80000).take(20000)

#5. Define Architecture

**[5.1]** Import tensorflow_recommenders package

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
import tensorflow_recommenders as tfrs

**[5.2]** Create a variable called `embedding_dimension` that will take the value 32

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
embedding_dimension = 32

**[5.3]** Create a Tensorflow Sequential model called `user_model` with a StringLookup for the unique list of user ids and an Embedding layer

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
user_model = tf.keras.Sequential([
  tf.keras.layers.StringLookup(vocabulary=unique_user_ids, mask_token=None),
  tf.keras.layers.Embedding(len(unique_user_ids) + 1, embedding_dimension)
])

**[5.4]** Create a Tensorflow Sequential model called `movie_model` with a StringLookup for the unique list of movie titles and an Embedding layer

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
movie_model = tf.keras.Sequential([
  tf.keras.layers.StringLookup(vocabulary=unique_movies, mask_token=None),
  tf.keras.layers.Embedding(len(unique_movies) + 1, embedding_dimension)
])

**[5.5]** Instantiate a FactorizedTopK called `metrics` with `movies_tf`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
metrics = tfrs.metrics.FactorizedTopK(
  candidates=movies_tf.batch(128).map(movie_model)
)

**[5.6]** Instantiate a Retrieval called `task` with `metrics`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
task = tfrs.tasks.Retrieval(
  metrics=metrics
)

**[5.7]** Create a class called `MovieLensModel` that inherits from `tensorflow_recommenders.Model` with 2 attributes `movie_model`, `user_model` and `task` and a method called `compute_loss()`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
class MovielensModel(tfrs.Model):

  def __init__(self, user_model, movie_model, task):
    super().__init__()
    self.movie_model: tf.keras.Model = movie_model
    self.user_model: tf.keras.Model = user_model
    self.task: tf.keras.layers.Layer = task

  def compute_loss(self, features, training=False) -> tf.Tensor:
    user_embeddings = self.user_model(features["user_id"])
    positive_movie_embeddings = self.movie_model(features["movie_title"])

    return self.task(user_embeddings, positive_movie_embeddings)

# 6. Train the Model

**[6.1]** Instantiate a MovieLensModel

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
model = MovielensModel(user_model, movie_model, task)

**[6.2]** Compile the model with an Adagrad optimiser

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
model.compile(optimizer=tf.keras.optimizers.Adagrad(learning_rate=0.1))

**[6.3]** Create a cache dataset of `train_tf` of batch of 4096 observations

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
cached_train = train_tf.batch(4096).cache()

**[6.4]** Train the model with the cache dataset

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
model.fit(cached_train, epochs=3)

**[6.5]** Create a cache dataset of `test_tf` of batch of 4096 observations

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
cached_test = test_tf.batch(4096).cache()

**[6.6]** Evaluate the performance of the model on the test set

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
model.evaluate(cached_test, return_dict=True)

**[6.7]** Instantiate a factorized_top_k.BruteForce layer called `index` with `user_model`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
index = tfrs.layers.factorized_top_k.BruteForce(model.user_model)

**[6.8]** Add the movies dataset to `index`

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
index.index_from_dataset(
  tf.data.Dataset.zip((movies_tf.batch(100), movies_tf.batch(100).map(model.movie_model)))
)

**[6.9]** Print the recommended movies for an user index

In [ ]:
# Placeholder for student's code (Python code)

In [ ]:
# Solution
user_id = 0
_, titles = index(tf.constant([f"{user_id}"]))
print(f"Recommendations for user {user_id}: {titles[0, :3]}")

### 7.   Push changes

**[7.1]** Add you changes to git staging area

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git add .

**[7.2]** Create the snapshot of your repository and add a description

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git commit -m "first tf reco model"

**[7.3]** Push your snapshot to Github

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git push

**[7.4]** Go to Github and merge the branch after reviewing the code and fixing any conflict

**[7.5]** Check out to the master branch

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git checkout master

**[7.6]** Pull the latest updates

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
git pull

**[7.7]** Stop the Docker container

In [ ]:
# Placeholder for student's code (command line)

In [ ]:
# Solution:
docker stop adv_mla_lab_7